body{
    background-color:rosybrown ;
}
.me2{
    width: 300px;
    height:200px;
     background-color: beige;
     border: solid black;
    padding: 10px;
    margin: 10px;

}

section{
    width: 300px;
    height:200px;
     background-color: rgb(33, 130, 72,0.5) ;
}

.me1{
    width: 500px;
    height:500px;
     background-color: rgb(103, 33, 130);
     border-radius: 250px;
     border: solid black;
}
ul{
    line-height: 40px;
    list-style-type: square;

}